
body{
    margin:0;
    font-family:FbSpoiler;
    font-weight: lighter;
    font-size:17px;
    width: 100%;
}

.header{
    width: 100%;
    background: #ffffff;
    height: 64px;
}

.container{
    width: 950px;
    margin:0 auto;
}

input{
    display: none;
}

ul {
    list-style: none;
    margin: 0; 
    padding: 0;
  }

li{
    display: inline-block;
}

.thumb {
    display: inline-block;
    height: 75px;
    width: 78px;
    border: 1px solid #000;
    margin: 7px 5px 0 0;
  }

#target {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    padding: 5px;
}

output img {
    display: none;
}

li.li-distance {
    margin-left: 46px;
    margin-right: 26px;
}

label {
    border: 2px solid #31800085;
    background: #31800085;
}